{% extends "jamjournal/reviews.html" %} 
{% load static %} 

{% block title%}
Your Profile - JamJournal
{% endblock %}


{% block page %} 
    <div class="profile-container">
        <img class="profile-picture" src="{% if profile_picture %}{{ profile_picture.url }}{% else %}{% static 'jamjournal/default_profile.jpg' %}{% endif %}" alt="Profile Picture">
        <div class="profile-info">
            <div class="profile-header">
            <h1 class="profile-title">{{username}}</h1>
            {% if flag %}
                <button id="follow" class="btn btn-outline-primary">
                    {% if usrFollowing %}Unfollow{% else %}Follow{% endif %}
                </button>
            {% else %}
                <a href="{% url 'edit_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
            {% endif %}
            </div>
            <div class="numbers-container">
                <p id="followers">Followers: {{followers}}</p>
                <p id="following">Following: {{following}}</p>
                <p id="num-reviews">Reviews: {{number_of_reviews}}</p>
            </div>
            
        </div>
    </div>
    {% if flag %}
    <h2 class="review-header">Reviews:</h2>
    {% else %}
    <h2 class="review-header">Your Reviews:</h2>
    {% endif %}
    
{% endblock %}

{% block script %}
    <link href="{% static 'jamjournal/reviews.css' %}" rel="stylesheet">
    <link href="{% static 'jamjournal/profile.css' %}" rel="stylesheet">
    <script src="{% static 'jamjournal/profile.js' %}"></script>
    <script src="{% static 'jamjournal/review.js' %}"></script>
    {% if not flag %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector("#profile-page").classList.add("active");
        });
    </script> 
    {% endif %}
{% endblock %}
