{% extends "jamjournal/layout.html" %} 
{% load static %} 
{% block body %} 


{% block page %}

{% endblock %}



{% for review in all_reviews %}

    <div class="review" id="{{review.review.id}}">
        <div class="left">
            <a href="{% url 'album' review.album.id %}">
                <img class="album-cover" src="{{review.album.images.0.url}}" alt="Album Cover for {{review.album.name}}" >
            </a>
            <h2>Grade: {{review.review.grade}}</h2>
            {% if review.review.reviewer.id == user.id %}
                <div class="button-container">
                    <button class="edit" id="edit-{{review.review.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </button>
                    <button class="delete" id="delete-{{review.review.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                </div>
            {% else %}
                <div class="button-container">
                    <button class="like unliked" data-review="{{review.review.id}}" id="like-button{{review.review.id}}">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                    </button>
                    <button class="reply" id="reply-{{review.review.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                            <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                        </svg>
                    </button>
                </div>
            {% endif %}
            <br>
            <small id="likes{{review.review.id}}">
                {% if review.review.likes.count != 1 %}
                {{review.review.likes.count}} likes
                {% else %}
                {{review.review.likes.count}} like
                {% endif %}
            </small>
            <small>{{review.review.timestamp|date:"M d, Y"}}</small>
        </div>


        <div class="right">
            <h2><a class="review-link" href="{% url 'view_review' review.review.id %}">{{review.album.name}}</a></h2>
            <h3>{% for artist in review.album.artists %} {% if forloop.last %} <a class="review-link" href="{% url 'artist' artist.id %}">{{artist.name}}</a> {% else %} <a class="review-link" href="{% url 'artist' artist.id %}">{{artist.name}}<a/>, {% endif %}{% endfor %}</h3>
            <h4>{{review.album.release_date|slice:"0:4"}}</h4>
            <a class="review-link" href="{% url 'profile' review.review.reviewer.id %}">
                <h4>{{review.review.reviewer}}:</h4>
            </a>
            <p>{{review.review.content}}</p>
        </div>
        
        
    </div>

{% empty %}
    <h4 class="empty-message">No reviews yet</h4>
{% endfor %}

{% endblock %}

{% block script %}
    <link href="{% static 'jamjournal/reviews.css' %}" rel="stylesheet">
    <script src="{% static 'jamjournal/review.js' %}"></script>
{% endblock %}
