{% extends "jamjournal/layout.html" %} {% load static %} 
{% block body %}
    <div class="album-container">
    <h1><a class="user-link" href="{% url 'profile' review.reviewer.id %}">{{review.reviewer}}'s</a> review of {{album.name}}</h1>
    <img src="{{album.images.0.url}}" alt="" />
    </div>
    <div class="review">
        <p>{{review.content}}</p>
    </div>
    <br>
    <h5>Replies:</h5>
    {% if user.is_authenticated %}
    <form method="post">
    {% csrf_token %}
    <textarea
        name="content"
        placeholder="Reply"
        maxlength="500"
        class="form-control reply-form"
        rows="3"></textarea>
    <input type="submit" class="btn btn-outline-primary" />
    </form>
    {% endif %}
    <br>
    {% for reply in replies %}
    <div class="review">
        <h6>{{reply.replier}}:</h6>
        <p>{{reply.content}}</p>
    </div>
    {% endfor %}
{% endblock %} 
{% block script %}
    <link href="{% static 'jamjournal/album.css' %}" rel="stylesheet" />
{% endblock %}
