.review {
    width: 100%;
    transition-duration: 0.3s;
    border-radius: 0.5em;
    border: 2px solid rgb(118, 118, 118);
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    text-align: left;
    background-color: #d4e4f0;
}

a {
    color: inherit;
}

.review-link,
.dark-review-link {
    text-decoration: underline;
}

.dark-review-link:hover {
    color: rgb(202, 224, 255);
}

.review-link:hover {
    color: #2e4053;
}

.empty-message {
    margin-top: 35vh;
}

.left>h2 {
    color: white;
}


.left {
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    background-color: #212529;
    color: white;
}

.right {
    padding: 0.6em;
}

.album-cover {
    border-radius: 0.4em;
    height: 150px;
    width: 150px;
    margin: 1em;
    border: #f8d8f8 1px solid;
    opacity: 0.7;
    transition-duration: 0.3s;
}

.album-cover:hover {
    opacity: 1;
    transition-duration: 0.3s;
    box-shadow: 0 0 7px #f8d8f8;
}

.release-date {
    color: #555555;
}

@media (max-width: 580px) {
    .review {
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }

}

button {
    all: unset;
    color: white;
}

svg {
    width: 2em;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.unliked {
    transition-duration: 0.3s;
    color: #ebaaeb;
}


.unliked:hover {
    transition-duration: 0.3s;
    color: #ff3232;
    opacity: 0.5;
}

.liked {
    transition-duration: 0.3s;
    color: #ff5c5c;

}

.liked:hover {
    transition-duration: 0.3s;
    color: #ff7676;
    opacity: 0.5;
}

.blue-btn {
    transition-duration: 0.3s;
    color: #a8c7fa;
}

.blue-btn:hover {
    transition-duration: 0.3s;
    color: #3b3bff;
    opacity: 0.8;
}

.delete {
    transition-duration: 0.3s;
    color: #f36d6d;
}

.delete:hover {
    transition-duration: 0.3s;
    color: red;
    opacity: 0.8;
}